<head>
  {% seo %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% assign user_url = site.url | append: site.baseurl %}
  {% assign full_base_url = user_url | default: site.github.url %}
  <!-- Add preconnect and prefetch to reduce load times as suggested in Lighthouse report. -->
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" crossorigin>
  <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

  <link rel="stylesheet" href="{{ "/assets/style.css" | prepend: full_base_url }}">

  <link rel="icon" type="image/png" href="{{ "/assets/my-favicon/favicon-96x96.png" | prepend: full_base_url }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ "/assets/my-favicon/favicon.svg" | prepend: full_base_url }}" />
  <link rel="shortcut icon" href="{{ "/assets/my-favicon/favicon.ico" | prepend: full_base_url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/my-favicon/apple-touch-icon.png" | prepend: full_base_url }}" />
  <link rel="manifest" href="{{ "/assets/my-favicon/site.webmanifest" | prepend: full_base_url }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
</head>
