<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div>

      <header class="header-background">
        <div class="border-bottom-thick header-border flex justify-end items-center sm-width-full">
          <ul class="list-reset py-1 mr-2 header-text font-smoothing flex">
            {% assign sorted_pages = site.pages | sort: "order" %}
            {% for my_page in sorted_pages %}
        {% if my_page.show_in_nav != false and my_page.title %}
        <li class="inline-block">
          <a class="link-primary mr-2 mr-lg-0 ml-lg-2" href="{{ my_page.url | relative_url }}">
            {{ my_page.title }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
          </ul>
        </div>

        <div class="header-container items-center px-2 py-3">
          <div class="flex justify-center items-center">
            <link rel="preload" as="image" href="/assets/images/sisyphus_logo.webp">
            <img
                src="/assets/images/sisyphus_logo.webp?v=1.0.1"
                alt="sisyphus_logo"
                width="500" height="500"
                class="mr-1 mt-3"
                style="max-width: 70%; height: auto;"
              > 
              <!-- added versioning for effective caching by Github server -->
              <!-- the width and height just sets the aspect ratio, not the size. This is done to reduce the load times as learned from the Lighthouse report. -->
          </div>
          <div class="flex flex-column header-text">
            <h1 class="h0 mt-3 ml-2 header-title">{{ site.title }}</h1>
            <p class="header-description h4 lh-condensed font-smoothing py-1 ml-2 border-top-thin">{{ site.tagline }}
            </p>
          </div>
        </div>
        
      </header>

     

      <div class="container mx-auto px-2 py-2">
        <div class="prose">
          <br />
          <br />
          <p>
            This is the home page of a Tech & Design consultancy firm: Sisyphus
            Consulting.
            <span
              onclick="pronounceSisyphus()"
              style="cursor: pointer; font-size: 14px; color: #172af8"
            >
              (si-sə-fəs <svg xmlns="http://www.w3.org/2000/svg" fill="solid" viewBox="0 0 24 24" strokeWidth="1.5" stroke="currentColor" width="14px" height="14px">
                <path strokeLinecap="round" strokeLinejoin="round" d="M19.114 5.636a9 9 0 0 1 0 12.728M16.463 8.288a5.25 5.25 0 0 1 0 7.424M6.75 8.25l4.72-4.72a.75.75 0 0 1 1.28.53v15.88a.75.75 0 0 1-1.28.53l-4.72-4.72H4.51c-.88 0-1.704-.507-1.938-1.354A9.009 9.009 0 0 1 2.25 12c0-.83.112-1.633.322-2.396C2.806 8.756 3.63 8.25 4.51 8.25H6.75Z" />
              </svg>)
            </span>
          </p>
        
          <p>
            We generate profit and impact for businesses using our tech and design
            solutions.
          </p>
        
          <p>We get it, it is confusing out there.</p>
          <p>
            One day you hear this solution is right, come next day, you hear the other
            one is better. And you are left at the mercy of solution providers who have
            an incentive to keep things complex.
          </p>
          <p>
            We don't believe in making tech and design solutions more complex than they
            have to be. Because if you don't get it or your people don't get it, the
            solution won't last long. And that's not something we want. We want our solutions to last long.
          </p>
          <div class="cta-container mt-2 mb-2">
            <a class="cta" href="{{'/consultancy/' | relative_url}}">See our consultancy services&nbsp;→ 
            </a>
          </div>
          <p>
            By the way, do you feel that we share the same way of thinking? Then I'm keen on having you in my small circle of homo-thinkers. It is soo difficult to find people who align with you. So, I'm not letting that opportunity pass. Inviting you to join my free, semi-regular email letters. I don't spam or sell things. It is all about ideas, if that's your thing.
          </p>

            {% include newsletter.html %}

          <br>
          
          <p>
            Thanks for your interest and support. As always, we're grateful and honoured to have worked with some of the most amazing people on Earth.
          </p>
          <p class="flex justify-end"><em><a href="{{'/about/' | relative_url}}">— Bhagyesh Pathak</a></em></p>


        </div>
        
          
          


      </div> 

    </div>

    {% include footer.html %}
    <script>
      function pronounceSisyphus() {
          const utterance = new SpeechSynthesisUtterance('Sisyphus Consulting');
          utterance.lang = 'en-In'; // Adjust language as needed
          speechSynthesis.speak(utterance);
      }
  </script>
  
  </body>

</html>
